# MinIO 설정
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# PostgreSQL 설정
POSTGRES_URL=postgresql://postgres:postgres111@localhost:5432/med_db
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASSWORD=